.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: white;
  bottom: 0;
  width: 100%;
}

.buttons {
  display: flex;
}

.clinicianButton {
  margin: 0 0 1rem 1rem;
  bottom: 0;
  position: absolute;
}

iframe {
  border: none;
}

.MuiBox-root {
  padding: 0 !important;
}

.MuiButton-root {
  border-radius: 2rem !important;
} 
