.buttons {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.clinicianButton {
  display: flex;
  align-items: center;
  height: 8rem;
  margin-left: 1rem;
}

iframe {
  border: none;
}

.MuiBox-root {
  padding: 0 !important;
}

.MuiButton-root {
  border-radius: 2rem !important;
} 
