.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: white;
  bottom: 0;
  width: 100%;
}

.invalidSipModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.invalidSipModal h3 {
  margin-bottom: 0.75rem;
}

.invalidSipModal h6 {
  color: gray;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttons {
  display: flex;
}

.button p {
  margin-bottom: 0.5rem;
}

.clinicianButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 1rem 1rem;
  bottom: 0;
  position: absolute;
}

img {
  width: 100%;
}

.MuiBox-root {
  padding: 0 !important;
}

.tv {
  width: 40rem !important;
}

.MuiButton-root {
  border-radius: 2rem !important;
} 
